plex_interactor Requirements

### Python3 ###
Requires Python3.
Written with Python 3.6.9

### plexapi ###
Repo: https://github.com/pkkid/python-plexapi
Doc: https://python-plexapi.readthedocs.io/en/latest/

pip3 install plexapi