##### automated_ffmpeg Requirements #####
## Requires Python 3.6 or newer
## Written using Python 3.6.9

#### Internal modules ####
### Common ###
# ffmpeg_tools_utilites.py
# enocde_data.py
# list_builders.py
# simple_logger.py
### plex_interactor ###
# plex_interactor.py

#### Third party libraries ####
### pytz ###
# For logging, automated_ffmpeg uses pytz to set the timezone and write the current time.
# https://pypi.org/project/pytz/
# pip3 install pytz
pytz==2020.1

### PlexAPI ###
# Used with the plex_interactor
# Repo: https://github.com/pkkid/python-plexapi
# Doc: https://python-plexapi.readthedocs.io/en/latest/
# pip3 install plexapi
PlexAPI==4.0.0

